.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}

.thead-dark {
  color: #fff;
  background-color: #343a40;
  border-color: #454d55;
}

.res-contain {
  width: 100%;
  max-width: 70%;
  margin: 4% auto;
  justify-content: space-between;
}

form {
    width: 50%;
    margin: 150px auto;
    /* background-color: green; */
  }
  
  form > div {
    width: 100%;
    padding: 2%;
  }
  
  .model-selector {
    width: 100%;
  }
  
  form input,
  form select {
    width: 100%;
    padding: 8px 4px;
  }

  form label {
    display: table-header-group;
  }

  .form-wrapper{
    background-color: lightgreen;
  }
